page-games {

  ion-content { background-color: transparent !important; }


    .card-md{
      background-color: inherit;
      cursor: pointer;
    }

    .card-header-md{
      background-color: rgba(57, 139, 243, 0.69);
      font-size: 6vw;

    }

    .card-content-md{
      background-color: rgba(138, 183, 240, 0.5);
    }

  .gameLabel{
    font-size: 4.5vw;
  }

  .flagImg{
    width: 60px;
    height: 40px;
  }

}
