page-games {

  .card-md{
    background-color: inherit;
  }

  .card-header-md{
    background-color: rgba(57, 139, 243, 0.69);
    font-size: 6vw;

  }

  .card-content-md{
    background-color: rgba(138, 183, 240, 0.5);
  }

  .gameLabel{
    font-size: 4.5vw;
  }

  .flagImg{
    width: 60px;
    height: 40px;
  }

}
