page-bet {


  .card-md{
    background-color: inherit;
  }

  .card-header-md{
    background-color: rgba(57, 139, 243, 0.69);
    font-size: 6vw;

  }

  .card-content-md{
    background-color: rgba(138, 183, 240, 0.5);
  }


.inTore{
  font-size: 6.3vw;

}

.text-input-md{
  text-align: center;

}

  .gameLabel{
    font-size: 7.3vw;
  }

  .flagImg{
    width: 120px;
    height: 80px;
  }
}
