// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


//background: linear-gradient(to bottom,rgba(255,255,255,0.5),rgba(0,57,166,0.5),rgba(213,43,30,0.5));


@mixin gradient-russia{
  background-image: -ms-linear-gradient(top, rgba(255,255,255,1)  ,rgba(0,57,166,1) ,rgba(213,43,30,1));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,1)  ,rgba(0,57,166,1) ,rgba(213,43,30,1));
  background-image: -o-linear-gradient(top, rgba(255,255,255,1)  ,rgba(0,57,166,1) ,rgba(213,43,30,1));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffb76b), color-stop(100, #ff7f04));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,1)  ,rgba(0,57,166,1) ,rgba(213,43,30,1));
  background-image: linear-gradient(to bottom, rgba(255,255,255,1)  ,rgba(0,57,166,1) ,rgba(213,43,30,1));
}

@mixin gradient-orange{
  background-image: -ms-linear-gradient(top, rgb(5, 105, 35) 0%, rgb(4, 191, 60) 100%);
  background-image: -moz-linear-gradient(top, rgb(5, 105, 35) 0%, rgb(4, 191, 60) 100%);
  background-image: -o-linear-gradient(top, rgb(5, 105, 35) 0%, rgb(4, 191, 60) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(5, 105, 35)), color-stop(100, rgb(4, 191, 60)));
  background-image: -webkit-linear-gradient(top, rgb(5, 105, 35) 0%, rgb(4, 191, 60) 100%);
  background-image: linear-gradient(to bottom, rgb(5, 105, 35) 0%, rgb(4, 191, 60) 100%);
}

@mixin gradient-orange-white {
  background: -moz-linear-gradient(0deg, rgb(5, 105, 35) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(5, 105, 35)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgb(5, 105, 35) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg,rgb(5, 105, 35) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgb(5, 105, 35) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgb(5, 105, 35) 0%, rgba(255,255,255,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCA50D', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

@mixin gradient-light-grey {
  background: linear-gradient(to top, rgb(255, 255, 255), #776e70);
}
