// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*
@font-face {
 font-family: 'PT Sans';
 font-weight: normal;
 font-style: normal;
 src: url('../assets/fonts/pt-sans/PTC55F.ttf') format('truetype');
}
*/


.content-md{
  text-shadow: 1px 1px 2px #000, 2px 2px 4px #6f6e72;
  color: #fffdfd;
  font-size: 1.5em;
  background-image: url(../assets/imgs/bgTrophy2.bmp) ;
  background-repeat: no-repeat;
  background-size: cover;

  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox

  ::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 10px;
  }

  .no-scroll .scroll-content{
         overflow: hidden;
    }


}
.toolbar-md{
  background-color: white;
}

.toolbar-title-md,.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
  text-shadow: 1px 1px 2px #000, 2px 2px 4px #6f6e72;
  color: #fffdfd;
}


.toolbar-background-md{
  background: linear-gradient(to bottom,rgba(255,255,255,0.5),rgba(0,57,166,0.5),rgba(213,43,30,0.5));
  color: white;
}


/**
        MENU Styles
**/


button.menuButton.item.item-block.item-md:hover,button.menuButton.item.item-block.item-ios:hover {
  font-weight: bolder;
  background-color: rgba(180, 179, 179, 0.5)!important;
}


.menuContent .userName{
 font-size: large;
 font-weight: bolder;
}

.menuContent .menuItem{
 font-size: 1.8rem;
 }


.menuContent .item-md,.item-ios,.item-wp {
   background-color: rgba(255, 255, 255, .5);
   padding-left: 0px;
   padding-right: 0px;
   margin-bottom: 4px;

 }

button.menuButton.item.item-block.item-md:hover,button.menuButton.item.item-block.item-ios:hover {
 font-weight: bolder;
 background-color: rgba(180, 179, 179, 0.5)!important;
}


.menuContent{
      @include gradient-orange-white ;
}


.toolbar-background-md,.toolbar-background-ios,.toolbar-background-wp{
    @include  gradient-orange;
}

.menuHeader .toolbar-background-md,.toolbar-background-ios,.toolbar-background-wp{
  //  @include  gradient-light-grey;
      @include  gradient-orange;
}
